.component-cell {
    width: 30px;
    height: 30px;
    background-color: lightgreen;
    border-radius: 50%;

}

.alive {
    background-color: darkblue;
}

.dormant {
    background-color: lightgreen;
}
.component-cell:hover{

    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.2);
}