.component-cell {
    width: 30px;
    height: 30px;
    background-color: lightgreen;
    border-radius: 50%;

}

.alive {
    background-color: darkblue;
}

.dormant {
    background-color: lightgreen;
}
.component-cell:hover{
    background: darkgreen;
}